h1 {
    color: #0082FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em
}

rect {
    fill: grey
}

#updateButton {
    background-color: #0077AA;
}

#transition1 {
    background-color: #fcba03;
}

#transition2 {
    background-color: #00FF00;
}
