:root {
    --clr-1: #f25c00;
    --clr-2: #ec4559;
    --clr-3: #bf4686;
    --clr-4: #41537f;
    --clr-5: #2f4858;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: basix-sans, sans-serif;
    font-weight: 300;
    background: linear-gradient(var(--clr-1), var(--clr-2));
    min-height: 100vh;

    font-size: 3.5rem;
    margin: 0;
    color: rga(black, 0.7);
    /* font-size: 24px; */
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

.intro {
    display: grid;
    grid:
        "hello hello" 75vh
        "my-name-is kevin" 125vh / max-content 1fr;
    margin-bottom: 50vh;
    grid-gap: 15px;
}

.intro-1 {
    grid-area: hello;
    align-self: center;
    position: sticky;
    top: 2em;
    margin-bottom: 1.5em;
}

.intro-2 {
    grid-area: my-name-is;
    font-weight: 900;
    font-style:italic;
    position: sticky;
    top: 3.5em;
    align-self: center;
}

.intro-3 {
    grid-area: kevin;
    align-self: end;
}

.css {
    text-align: center;
    margin-bottom: 60vh;
}

.youtube {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid: "text thumbnails" 1fr / 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 100vh;
}


.youtube p {
    position: sticky;
    top: 10vh;
    grid-area: text;
    align-self: start;
}

.thumbnails {
    grid-area: thumbnails;
    margin-top: 60vh;
    background: var(--clr-5);
    padding: 0.3em;
    position: relative;
    margin-top: 60vh;
    background: currentColor;
    padding: 0.3em;
    color: black;
}

.thumbnails img {
    position: relative;
    z-index: 3;
}

.thumbnails::after {
    content: "";
    position: absolute;
    background: linear-gradient(var(--clr-5) calc(100% - 6em), transparent 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.surprise {
    position: sticky;
    bottom: 100px;
    color: white;
    font-size: 1em;
}

.a-bit-more {
    background: url(./../resources/images/new-zealand2.jpg);
    background-size: cover;
    padding: 2em;
    height: 200vh;
}

.a-bit-more p {
    position: relative;
    z-index: 2;
    color: white;
    position: sticky;
    top: 2em;
}

.a-bit-more p::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(var(--clr-4) 20%, transparent, white);

}

